.container{
    display: grid;
    grid-template-columns: 18fr 1fr;
    align-items: center;
    background: var(--bg-light);
    height: 60px;
    border-radius: 30px;
    padding: 0 12px;
    margin-bottom: 10px;
    transition: var(--transition);
    cursor: pointer;
}
.container:hover{
    background: var(--card-hover);
    box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 8%);

}
.link{
    display: grid;
    grid-template-columns: 5fr 5fr 8fr;
    text-decoration: none;
}
.imageBox{
    height: 36px;
    display: flex;
    grid-gap: 5px;
}
.imageBox img{
    width: 36px;
    height: auto;
    object-fit: contain;
}
.imageBox span{
    font-size: 9px;
    font-weight: bold;
    color: var(--text);
}
.imageBox span small{
    color: var(--soft-text);
}
.priceBox span{
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.percent{
    display: flex;
    margin-bottom: -10px;
}
.percent span{
    font-size: 9px;
    font-weight: inherit;
}
.rangeBox span{
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

.saveBox{
    height: 100%;
    display: flex;
    align-items: center;
}
.saveBox svg{
    color: var(--text);
    transition: var(--transition);
}
.saveBox:hover svg{
    color: var(--soft-text);
}

.green{
    color: var(--green);
}
.red{
    color: var(--red);
}

.modalFavoriteList{
    position: relative;
    margin-bottom: 10px;
}
.modalFavoriteList .title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    right: 0;
    z-index: 9;
}
.checkBox{
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 99px;
    background-color: var(--soft-text);
}
.checkBox svg{
    color: var(--text-blue);
    font-size: 24px;
    opacity: 0;
    margin-top: -8px;
    margin-left: 1px;
    transition: var(--transition);
}
.input:checked ~ .checkBox svg{
    opacity: 1;
}

.modalBody{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}