:root{
    --bg-light: #F2F8FF;
    --card-light: #FBFDFF;
    --card-hover:#DCECFF;
    --soft-text: #BEDCFF;
    --text: #5C5C5C;
    --text-blue: #22BDFF;
    --green: #78C55D;
    --red: #EB5D5D;

    --transition: 0.2s
}

body{
    background-color: var(--bg-light)!important;
    line-height: inherit!important;
}